<?xml version="1.0"?>
<configuration>
   <configSections>
		<section name="AppProducts" type="Cummins.CaltermCLI"/>
	</configSections>
	<AppProducts>
		<Product>
			<ProductId>ABC</ProductId>
			<LastCalFile></LastCalFile>
			<LastSubfile></LastSubfile> <!--DB_G00059652 -->
			<LastSubfileConfiguration></LastSubfileConfiguration>  <!--DB_G00059652 -->
			<LastConfigurationFile></LastConfigurationFile>
			<LastCalibrationDownloadFile></LastCalibrationDownloadFile>
			<LastScreenFile></LastScreenFile>
			<LastVisitedDirectory></LastVisitedDirectory>
			<!--DB_G00044476-->
			<LastCompareFirstSourceType></LastCompareFirstSourceType>
			<LastCompareSecondSourceType></LastCompareSecondSourceType>
			<LastCompareFirstSourceConfigFile></LastCompareFirstSourceConfigFile>
			<LastCompareFirstSourceDataFile></LastCompareFirstSourceDataFile>
			<LastCompareSecondSourceConfigFile></LastCompareSecondSourceConfigFile>
			<LastCompareSecondSourceCalFile></LastCompareSecondSourceCalFile>
			<LastDocumentConfigFile></LastDocumentConfigFile>
			<LastDocumentSourceFile></LastDocumentSourceFile>
			<LastExportConfigFile></LastExportConfigFile>
			<LastExportSourceFile></LastExportSourceFile>
			<LastDivideConfigFile></LastDivideConfigFile>
			<LastDivideSourceFile></LastDivideSourceFile>
			<LastDownloadModule></LastDownloadModule>
			<LastDownloadConfigFile></LastDownloadConfigFile>
			<LastDownloadSourceFile></LastDownloadSourceFile>
			<LastUploadModule></LastUploadModule>
			<LastUploadSourceFile></LastUploadSourceFile>
			<LastOverlayMode></LastOverlayMode>
			<LastOverlaySourceFileType></LastOverlaySourceFileType>
			<LastOverlayTargetFileType></LastOverlayTargetFileType>
			<LastOverlayDestinationFileOption></LastOverlayDestinationFileOption>
			<LastFilterFile></LastFilterFile>
			<LastOverlaySaveInProductFolder></LastOverlaySaveInProductFolder>
			<LastOverlayDestinationFilePath></LastOverlayDestinationFilePath>
			<LastCalEditFilterEnabled></LastCalEditFilterEnabled>
			<!--DB_G00044476-->
			<!--DB_G00048737-->
			<LastEditorQuickSearchText></LastEditorQuickSearchText>
			<!--DB_G00048737-->
			
		</Product>
	</AppProducts>
	<appSettings>
		<add key="SpeedUploadReport" value=""/>
		<add key="SpeedServerUploadPath" value=""/>
		<add key="SpeedReportFormat" value=""/>	
		<add key="LastConfigurationFile" value=""/>
		<add key="LastProduct" value=""/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
