<?xml version="1.0" standalone="yes"?>
<configuration>
  <configSections>
    <section name="AppProducts" type="Cummins.CaltermApplication.ProductSelection,Cummins.CaltermApplication" />
  </configSections>
  <AppProducts>
    <Product>
      <ProductId>ABC</ProductId>
      <LastCalFile />
      <LastSubfile />
      <LastSubfileConfiguration />
      <LastConfigurationFile />
      <LastEditExportFile />
      <LastEditExportConfigFile />
      <LastCalibrationDownloadFile />
      <LastScreenFile />
      <LastScreenFileModule />
      <LastScreenFileCalFile />
      <LastScreenFileSubFile />
      <LastScreenFileExport />
      <LastVisitedDirectory />
      <LastCompareFirstSourceType />
      <LastCompareSecondSourceType />
      <LastCompareFirstSourceConfigFile />
      <LastCompareFirstSourceDataFile />
      <LastCompareSecondSourceConfigFile />
      <LastCompareSecondSourceCalFile />
      <LastDocumentConfigFile />
      <LastDocumentSourceFile />
      <LastExportConfigFile />
      <LastExportSourceFile />
      <LastDivideConfigFile />
      <LastDivideSourceFile />
      <LastDownloadModule />
      <LastDownloadConfigFile />
      <LastDownloadSourceFile />
      <LastUploadModule />
      <LastUploadSourceFile />
      <LastOverlayMode />
      <LastOverlaySourceFileType />
      <LastOverlaySaveInProductFolder />
      <LastOverlayDestinationFilePath />
      <LastOverlayTargetFileType />
      <LastOverlayDestinationFileOption />
      <LastFilterFile />
      <LastCalEditFilterEnabled />
      <LastEditorQuickSearchText />
      <DownloadSaveAndRestore>false</DownloadSaveAndRestore>
      <IsCustomJ1939FileUsed />
    </Product>
    <Product>
      <ProductId>ENC</ProductId>
      <LastCalFile>C:\Intelect\INSITE\CalibrationWorkspace\intelect\esdn\data\ENC\cal\J90143.enc</LastCalFile>
      <LastConfigurationFile>C:\Users\jlaus\Documents\Cummins ECFG + E2M Files\Cummins ECFG + E2M Files\E2M\CM550 VP44\Isbp400.e2m</LastConfigurationFile>
      <LastScreenFileModule>C:\Software\Calterm III\ENC\Screen_000.scr.xml</LastScreenFileModule>
      <LastDocumentConfigFile>C:\Users\jlaus\Documents\Cummins ECFG + E2M Files\Cummins ECFG + E2M Files\E2M\CM550 VP44\64c6.e2m</LastDocumentConfigFile>
      <LastDocumentSourceFile>C:\Users\jlaus\OneDrive\Desktop\cm550.cal</LastDocumentSourceFile>
      <LastExportConfigFile />
      <LastExportSourceFile />
      <LastUploadSourceFile>C:\Users\jlaus\OneDrive\Desktop\cm550.cal</LastUploadSourceFile>
    </Product>
  </AppProducts>
  <appSettings>
    <add key="SpeedUploadReport" value="" />
    <add key="SpeedDownloadReport" value="" />
    <add key="SpeedServerDownloadPath" value="" />
    <add key="SpeedServerUploadPath" value="" />
    <add key="SpeedReportFormat" value="" />
    <add key="ExpireDate" value="" />
    <add key="RP1210Vendor" value="0" />
    <add key="RP1210Option" value="0" />
    <add key="RP1210DllName" value="NXULNK32" />
    <add key="RP1210DeviceID" value="1" />
    <add key="adapter.Text" value="RP1210a" />
    <add key="canSpeed.Text" value="250 kbps" />
    <add key="port.Text" value="COM1" />
    <add key="protocol.Text" value="J1939" />
    <add key="blockTransfer.Checked" value="True" />
    <add key="j1939DeviceAddr.Value" value="0" />
    <add key="j1939ToolAddr.Value" value="F9" />
    <add key="autoStart.Checked" value="True" />
    <add key="autoProductSelection.Checked" value="False" />
    <add key="autoUnlockSelection.Checked" value="False" />
    <add key="autoModuleSelection.Checked" value="True" />
    <add key="autoCalibrationEditor.Checked" value="False" />
    <add key="autoSubfileEditor.Checked" value="False" />
    <add key="autoExportFileEditor.Checked" value="False" />
    <add key="autoModuleMonitor.Checked" value="True" />
    <add key="autoModuleEditor.Checked" value="False" />
    <add key="autoLogging.Checked" value="False" />
    <add key="autoRestoreProduct.Checked" value="False" />
    <add key="autoStopBroadcast.Checked" value="False" />
    <add key="disableAlerts.Checked" value="False" />
    <add key="displayFaults.Checked" value="True" />
    <add key="displayFaultCount.Checked" value="True" />
    <add key="displayFaultStatus.Checked" value="True" />
    <add key="displayFaultDescription.Checked" value="True" />
    <add key="displayFaultSourceAddr.Checked" value="True" />
    <add key="faultsMonitorRate" value="30" />
    <add key="faultDatabaseFilename" value="NONE" />
    <add key="displayProdInfo.Checked" value="True" />
    <add key="displayRunLoc.Checked" value="True" />
    <add key="displaySwitches.Checked" value="False" />
    <add key="LastProduct" value="ENC" />
    <add key="LogDisplay" value="False" />
    <add key="LogPrefixRR" value="log" />
    <add key="LogPrefixBAM" value="log" />
    <add key="LogPrefixIDL" value="log" />
    <add key="LogFormat" value="CSV" />
    <add key="LogActiveFaults" value="False" />
    <add key="LogPCTime" value="False" />
    <add key="LogDLASecondsTime" value="False" />
    <add key="MonitorLogAutoNumbering" value="True" />
    <add key="DisplaySaveFileDialog" value="True" />
    <add key="LogRate" value="1" />
    <add key="RecordingMode" value="1" />
    <add key="LogRateUnit" value="ms" />
    <add key="chkboxConfigNameToHeader.Checked" value="False" />
    <add key="TraceDebugFileName" value="TraceDebug.txt" />
    <add key="TraceDebugLevel" value="LowLevel" />
    <add key="TraceDebugCategory" value="ECMControl" />
    <add key="TraceDebugEnable" value="False" />
    <add key="MRU1" value="" />
    <add key="MRU1Product" value="ENC" />
    <add key="MRU2" value="" />
    <add key="MRU2Product" value="ENC" />
    <add key="MRU3" value="" />
    <add key="MRU3Product" value="" />
    <add key="MRU4" value="" />
    <add key="MRU4Product" value="" />
    <add key="MRU5" value="" />
    <add key="MRU5Product" value="" />
    <add key="CollectionTime" value="10000" />
    <add key="AutoReconnect" value="True" />
    <add key="QueryRunLocation" value="True" />
    <add key="autoRequestChangeLock.Checked" value="True" />
    <add key="monitorModeRequestReceive.Checked" value="True" />
    <add key="monitorModeBam.Checked" value="False" />
    <add key="monitorModeIdl.Checked" value="False" />
    <add key="monitorShowComments.Checked" value="False" />
    <add key="idlTriggerSource" value="Clock" />
    <add key="idlTriggerPeriod" value="20" />
    <add key="idlOnKeyOn" value="False" />
    <add key="idlStopMode" value="Stop" />
    <add key="idlUseCurrentScreen" value="True" />
    <add key="idlParameterScreenFile" value="" />
    <add key="idlRetrievalAtMaxRate" value="True" />
    <add key="idlRetrievalRate" value="1" />
    <add key="idlAutoRetrieveBuffer" value="False" />
    <add key="idlAutoConfigure" value="False" />
    <add key="idlStopIDLOnMonitorStart" value="False" />
    <add key="dataRefreshRate" value="20" />
    <add key="bamRefreshRate" value="25" />
    <add key="dataRefreshRateUnits" value="ms" />
    <add key="screenRefreshRate" value="200" />
    <add key="screenRefreshRateUnits" value="ms" />
    <add key="bamTriggerMode" value="Clock" />
    <add key="Overlay.VerboseReportingEnabled" value="false" />
    <add key="Overlay.RangeLimit" value="Clip" />
    <add key="Overlay.ReportPrefix" value="overlay" />
    <add key="Overlay.ReportFormat" value="HTML" />
    <add key="Overlay.ShowMissingParameters" value="True" />
    <add key="Overlay.EnableOverwrite" value="false" />
    <add key="Overlay.ScaledValuesEnabled" value="false" />
    <add key="Overlay.UseSourceFileNames" value="false" />
    <add key="GeneralReportFormat" value="HTML" />
    <add key="VerifyReportFormat" value="HTML" />
    <add key="VerifyReportPrefix" value="verify" />
    <add key="VerifyReportDisplay" value="True" />
    <add key="version.Text" value="3.17.0.000" />
    <add key="RangeLimit" value="Ignore" />
    <add key="MultiModuleFaultMonitor" value="False" />
    <add key="ParameterFilter.Text" value="Show all parameters" />
    <add key="SearchComments.Checked" value="True" />
    <add key="Show.SCOption" value="True" />
    <add key="Show.DOOption" value="True" />
    <add key="Show.PPOption" value="True" />
    <add key="Show.APOption" value="True" />
    <add key="Show.PIOption" value="True" />
    <add key="Show.PJOption" value="True" />
    <add key="Show.PWOption" value="True" />
    <add key="Show.FROption" value="True" />
    <add key="Show.FCOption" value="True" />
    <add key="Show.EIOption" value="True" />
    <add key="Show.ESOption" value="True" />
    <add key="Show.FQOption" value="True" />
    <add key="Show.With_NoOption" value="True" />
    <add key="Show.FQSubFileOption" value="True" />
    <add key="WorkingMode" value="EditECM" />
    <add key="AutoLoadScreenFile" value="True" />
    <add key="CheckArrayAscendingOrder" value="False" />
    <add key="ConnectionTimeoutEnabled" value="False" />
    <add key="ConnectionTimeoutMinimum" value="5000" />
    <add key="ConnectionTimeoutFactor" value="3" />
    <add key="edmRefreshRate" value="20" />
    <add key="UnlockSecurityMessageCheck" value="False" />
    <add key="DetectionTimeOut" value="375" />
    <add key="AppendCheckBoxState" value="True" />
    <add key="MaxPendingRequests.Value" value="8" />
    <add key="ComplexScreenRequestReceiveRefreshRate" value="1000" />
    <add key="ComplexScreenRequestReceiveRefreshRateUnits" value="ms" />
    <add key="CreateMiniLogFile" value="False" />
    <add key="InsertEventNumber" value="False" />
    <add key="ActivityLogEnable" value="True" />
    <add key="MaxActivityLogFileSize" value="1000000" />
    <add key="GreyOutUnchangedData" value="True" />
    <add key="AutoPluginChecked" value="False" />
    <add key="AutoPluginFile" value="" />
    <add key="DisableWrite" value="False" />
    <add key="ExportParamsOnStartup" value="False" />
    <add key="InputFilterFilename" value="" />
    <add key="OutputExportFilename" value="" />
    <add key="DisplayVersion.Text" value="Poodle v3.17.0.000" />
    <add key="hautoLogging.Checked" value="False" />
    <add key="LogFileNameIn24hrTimeFormat" value="false" />
    <add key="LogFilePath" value="" />
    <add key="LogFlushFrequency" value="60" />
    <add key="MaxLogFileSize" value="1024" />
    <add key="LogFileCreationChoice" value="Single" />
    <add key="PromptForOverwrite" value="True" />
    <add key="deleteOldestOnMediaFull" value="True" />
    <add key="LogFileName" value="" />
    <add key="EnableUCL_Log" value="False" />
    <add key="UCLPreTriggerTime" value="30" />
    <add key="UCLPostTriggerTime" value="30" />
    <add key="PreTrigger" value="5" />
    <add key="PostTrigger" value="60" />
    <add key="viewAllMessages.Checked" value="False" />
    <add key="1" value="C:\Users\jlaus\Documents\Cummins ECFG + E2M Files\Cummins ECFG + E2M Files\E2M\CM550 VP44\Isbp400.e2m" />
    <add key="2" value="" />
    <add key="3" value="" />
    <add key="4" value="" />
    <add key="5" value="" />
    <add key="MaxPendingRequests" value="8" />
    <add key="DefaultCBFFile" value="j1939.cbf" />
    <add key="OverrideCBFFileChecked" value="false" />
    <add key="LastModuleConnectSettingsType" value="Automatic" />
    <add key="WorkingMode1" value="EditECM" />
    <add key="WorkingMode2" value="EditECM" />
    <add key="WorkingMode3" value="EditECM" />
    <add key="WorkingMode4" value="EditECM" />
    <add key="WorkingMode5" value="EditECM" />
    <add key="ParameterSearchText1" value="CRVSRF" />
    <add key="ParameterSearchText2" value="CRVSRFLL" />
    <add key="ParameterSearchText3" value="CRVSRFUL" />
    <add key="ParameterSearchText4" value="CRXXXXX1" />
    <add key="ParameterSearchText5" value="CRZRFL" />
    <add key="OverrideCBFFilePath" value="" />
    <add key="IDLRefreshRate" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>