***JOYSTICK-CSV3FILE***
XAHD_MAX,XAST_MAX,YAHD_MAX,YAST_MAX,SFWD_AHD_MAX,SFWD_AST_MAX,SREV_AHD_MAX,SREV_AST_MAX,RRA,XAHD_MIN,XAST_MIN,ZTURN_MAX,GEAR_DEL,THRUST_DEL,THRUST_CONFIG,ROT_MAX,THRUST_ENGAGE_DEL,THRUST_ALERT_LIMIT,THRUST_DISABLE_LIMIT,SW_REV,HW_REV,JS_TYPE,JS_ASSOC_ID,PARAM_FILE_ID_1,PARAM_FILE_ID_2,BOW_THRUST_MIN,BOW_THRUST_MAX,STERN_THRUST_MIN,STERN_THRUST_MAX,ALLOW_TROLL_WHEN_ACTIVE_FLAG,ENTER_TROLL_WHEN_ACTIVE_FLAG,ALLOW_EXPRESS_WHEN_ACTIVE_FLAG,ENTER_EXPRESS_WHEN_ACTIVE_FLAG,PSLD_AHD_SEL,PSLD_AST_SEL,SSLD_AHD_SEL,SSLD_AST_SEL,SLD_AHD_MAX,SLD_AST_MAX,JS_LT_THR_WARN_DUTY,JS_LT_THR_WARN_LU_TIME,JS_LT_THR_WARN_MU_TIME,JS_MT_THR_WARN_DUTY,JS_MT_THR_WARN_LU_TIME,JS_MT_THR_WARN_MU_TIME,JS_ST_THR_WARN_DUTY,JS_ST_THR_WARN_LU_TIME,JS_ST_THR_WARN_MU_TIME,JS_IDENTIFY_JS,JS_WRITE_KEY_PARAM_ID,JS_DOCKING_TIME,JS_DOCKING_EVENTS,JS_BOW_ON_TIME,JS_STERN_ON_TIME,JS_BOW_ACTIVATIONS,JS_STERN_ACTIVATIONS,JS_THR_WARN_ENTRY,JS_DATA_LOGGER_ENABLE
634,370,668,356,50,50,50,50,120,620,380,0,250,1000,1,30,0,120,0,211,100,2,1,1012,18944,250,1000,250,1000,0,0,0,0,1,2,2,1,648,352,6,0,0,12,2700,3600,80,120,0,0,-1,101,7,3597,0,210,0,0,1